.game-title {
  color: yellow;
  font-size: xx-large;
  text-align: center;
  text-transform: uppercase;
}

.app__game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
