.game-board {
  cursor: default;
  border-top: 2px solid white;
  border-left: 2px solid white;
  display: grid;
  grid-template-columns: repeat(6, 16vw);
  grid-template-rows: repeat(6, 7vw);
}

.game-board__box {
  display: flex;
  vertical-align: middle;
}

.wait-cursor {
  cursor: none;
}
